{% extends 'chat_main/base.html' %}
{% block title %} Confirm {% endblock %}

{% block content %}
        <div class="card col-md-9">
            <div class="card-body">
                {% if leave == False %}
                    <h5 class="card-title"> Are you sure you want to delete {{to_delete}}? </h5>
                {% else %}
                    <h5 class="card-title"> Are you sure you want to leave {{to_delete}}? </h5>
                {% endif %}
                <form method='POST'>
                    {% csrf_token %}
                    {% if leave == False %}
                        <button class="btn btn-danger" type="submit">
                            <i class="fas fa-minus-circle"></i> Delete 
                        </button>
                    {% else %}
                        <button class="btn btn-danger" type="submit">
                            <i class="fas fa-minus-circle"></i> Leave 
                        </button>
                    {% endif %}
                </form>
                <a href="{% url 'chat_main:index' %}">
                    <button class="btn btn-secondary">
                        <i class="fas fa-undo"></i> Back 
                    </button>
                </a>
            </div>
        </div>
{% endblock %}

{% block content_unlogged %}
    <div class="card col-md-9">
        <div class="card-body">
            <p><strong> You have no access to this site... </strong></p>
            <p> Please, log in or register </p>
            <a href="{% url 'chat_login:log_in' %}"><button class="btn btn-secondary"> Log in </button></a>
            <a href="{% url 'chat_login:sign_up' %}"><button class="btn btn-secondary"> Sign up </button></a>
        </div>
    </div>
{% endblock %}
