{% extends 'chat_main/base.html' %}
{% block title %} DeleteGroup {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card col-9">
            <div class="card-body">
                <h5 class="card-title"> Choose group to delete: </h5>
                {% if groups %}
                    {% for group in groups %} 
                        <ul>
                            <a href="{% url 'chat_main:confirm' group %}" class="delete_a"> {{group}} </a>
                        </ul>
                    {% endfor %}
                {% endif %}
                <a href="{% url 'chat_main:index' %}">
                    <button class="btn btn-outline-secondary" style="margin-left: 80%"><i class="fas fa-undo"></i> Back </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_unlogged %}
    <div class="card col-md-9">
        <div class="card-body">
            <p><strong> You have no access to this site... </strong></p>
            <p> Please, log in or register </p>
            <a href="{% url 'chat_login:log_in' %}"><button class="btn btn-secondary"> Log in </button></a>
            <a href="{% url 'chat_login:sign_up' %}"><button class="btn btn-secondary"> Sign up </button></a>
        </div>
    </div>
{% endblock %}