{% extends 'chat_login/base.html' %}

{% block title %} Chat Rooms {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        </br>
        <div class="chat_bgrd">
            <div class="sidenav">
                {% if user.is_staff %}
                    <a href="{% url 'chat_main:new_group' %}" style="text-decoration: None; color: black; text-shadow:None; font:bold; font-size: 14px;">
                        <i class="fas fa-plus-circle"></i> Create new group 
                    </a>
                    <a href="{% url 'chat_main:delete_group' %}" style="text-decoration: None; color: black; text-shadow:None; font:bold; font-size: 14px;">
                        <i class="fas fa-minus-circle"></i> Delete group
                    </a><br>
                    <a href="{% url 'chat_main:find_group' %}" style="text-decoration: None; color: black; text-shadow:None; font:bold; font-size: 14px;">
                        <i class="fas fa-search"></i> Find group
                    </a>
                    <a style = "text-decoration: None; color: black; text-shadow:None; font:bold; font-size: 18px; text-decoration: underline;">
                        <i class="fas fa-users"></i> Groups: 
                    </a>
                    {% if group_names %}
                        {% for group in group_names %}
                            <br> 
                            <a href="{% url 'chat_main:room' group %}"> {{group}} </a>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <a href="{% url 'chat_main:find_group' %}" style = "text-decoration: None; color: black; text-shadow:None; font:bold; font-size: 14px;">
                        <i class="fas fa-search"></i> Find group
                    </a>
                    <br>
                    <a style="text-decoration: None; color: black; text-shadow:None; font:bold; font-size: 18px; text-decoration: underline;">
                        <i class="fas fa-users"></i> Groups: 
                    </a>
                    {% if group_names %}
                        {% for group in group_names %} 
                            {% if who_ask in group.members.all %}
                                <br>
                                    <a href="{% url 'chat_main:room' group %}"> {{group}} </a>
                                </br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if find == True %}
            <br>
            <div class="card" style="width: 30rem; margin-left: 35%; margin-top: 10%">
                        <div class="card-body" style="background-color: CCCC99; text-align: left">
                            <p><strong> Search <i class="fas fa-search"></i></strong></p>

                            <form action="{% url 'chat_main:find_group' %}" method="GET" value="{{request.GET.q}}">
                                <input type="text" size="40" name="find_it" value="{{request.GET.q}}" placeholder="Find group"/>
                                <input type="submit" name="submit" value="Search" class="btn btn-secondary" style="margin-left: 2%;"/>
                            </form>

            {% if submitbutton == 'Search' and request.GET.find_it != '' %}
                {% if results %}
                    {% for result in results %}
                        <a href="{% url 'chat_main:room' result.name_of_group %}" class="a"> {{result.name_of_group}} </a>
                    {% endfor %}
                {% else %}
                    <h5> None </h5>
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        <div class="card" style="width: 40rem; margin-left: 35%; margin-top: 10%">
            <div class="card-body" style="background-color: CCCC99; text-align: center">
                <p><strong> You have no access to this site... </strong></p>
                <p> Please, log in or register </p>
                <a href="{% url 'chat_login:log_in' %}">
                    <button class="btn btn-secondary"> Log in </button>
                </a>
                <a href="{% url 'chat_login:sign_up' %}">
                    <button class="btn btn-secondary"> Sign up </button>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}