{% extends 'chat_main/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %} Chat Rooms {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class ='row justify-content-center' style="text-align:center">
                <div class="col-6">
                    <form action = "{% url 'chat_main:find_group' %}" method='GET'>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class='btn btn-outline-secondary'> Search <i class="fas fa-search"></i></button>
                    </form>   
                </div>
            </div>
        </div>  

    {% else %}
        <div class="card" style="width: 40rem; margin-left: 35%; margin-top: 10%">
            <div class="card-body" style="background-color: CCCC99; text-align: center">
                <p><strong> You have no access to this site... </strong></p>
                <p> Please, log in or register </p>
                <a href="{% url 'chat_login:log_in' %}">
                    <button class="btn btn-secondary"> Log in </button>
                </a>
                <a href="{% url 'chat_login:sign_up' %}">
                    <button class="btn btn-secondary"> Sign up </button>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function () {
            $("#group_search").autocomplete({
                source: '{% url 'chat_main:index' %}'
                                    
            });
        });
    </script> 
{% endblock %}